<a href="https://colab.research.google.com/github/sachinchandurkar/EDS_MIT/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Default title text
#find the statistical analysis of employees records

f = open("/content/sample_data/emp.csv","r")

contents = f.read()
lines = contents.split("\n")

eid = []; nm = []; desgn = []; sal = [];

for l in lines:
  words = l.split(",")
  print(words)
  eid.append(int(words[0]))
  nm.append(words[1])
  desgn.append(words[2])
  sal.append(int(words[3]))
  print("Employee IDs :",eid)
  print("Employee Name :",nm)
  print("Employee Designation :",desgn)
  print("Employee Salary :",sal)

  #max salary
  print("maximum salary of the company is :",max(sal))

['1', 'Pranav', 'Manager', '10000000']
Employee IDs : [1]
Employee Name : ['Pranav']
Employee Designation : ['Manager']
Employee Salary : [10000000]
maximum salary of the company is : 10000000
['2', 'Shila', 'Supervisor', '5000000']
Employee IDs : [1, 2]
Employee Name : ['Pranav', 'Shila']
Employee Designation : ['Manager', 'Supervisor']
Employee Salary : [10000000, 5000000]
maximum salary of the company is : 10000000
['3', 'Hardin', 'Executive', '2500000']
Employee IDs : [1, 2, 3]
Employee Name : ['Pranav', 'Shila', 'Hardin']
Employee Designation : ['Manager', 'Supervisor', 'Executive']
Employee Salary : [10000000, 5000000, 2500000]
maximum salary of the company is : 10000000
['4', 'Jon', 'Secretary', '1000000']
Employee IDs : [1, 2, 3, 4]
Employee Name : ['Pranav', 'Shila', 'Hardin', 'Jon']
Employee Designation : ['Manager', 'Supervisor', 'Executive', 'Secretary']
Employee Salary : [10000000, 5000000, 2500000, 1000000]
maximum salary of the company is : 10000000
['5', 'Sunny', 'Employee', '50000']
Employee IDs : [1, 2, 3, 4, 5]
Employee Name : ['Pranav', 'Shila', 'Hardin', 'Jon', 'Sunny']
Employee Designation : ['Manager', 'Supervisor', 'Executive', 'Secretary', 'Employee']
Employee Salary : [10000000, 5000000, 2500000, 1000000, 50000]
maximum salary of the company is : 10000000
['']

ValueError: ignored